body {
  margin: 0;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.success,.error{
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 1px;
} 
